[Unit]
Description=Fan control via GPIO
After=multi-user.target

[Service]
Restart=always
Type=simple
ExecStart=/usr/bin/gpio-fan-control --gpio 70 --threshold-temp 45 --critical-temp 77 --refresh-time 5s

[Install]
WantedBy=multi-user.target