[Unit]
Description=Fan control via GPIO
After=multi-user.target

[Service]
Restart=always
Type=simple
ExecStart=/usr/bin/gpio-fan-control --config /etc/gpio-fan-control/gpio-fan-control.conf.yml

[Install]
WantedBy=multi-user.target
